/* CSS REPRODUCTOR */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
/* Import Bootstrap Icons */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

:root {
  --background-color: #7b4242ca;
  --light-background: #2e2e2e;
  --primary-color: #fff;
  --secondary-color: #aaa;
  --primary-font: 'Roboto Mono', monospace;
  --gap-s: 12px;
  --gap: 24px;
  --gap-xl: 48px;
  --border-radius: 16px;
  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
}

body {
  max-width: 1200px;
  padding: 24px;
  margin: auto;
  display: grid;
  gap: var(--gap-xl);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 4rem;
  font-weight: bolder;
}



header {
  margin-bottom: 24px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .right-nav {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      justify-content: center;

      .product-name {
        font-size: 5rem;
      }

   /*    .boton-backward {
        background-color: var(--primary-color);
        color: var(--background-color);
        font-size: 2.4rem;
        padding: 12px 24px;
        border-radius: var(--border-radius);
        border: none;
        transition: var(--transition);
        cursor: pointer;
        font-weight: 500;

        &:hover {
          background-color: var(--secondary-color);
        }
      }

      .boton-play {
        background-color: var(--primary-color);
        color: var(--background-color);
        font-size: 2.4rem;
        padding: 12px 24px;
        border-radius: var(--border-radius);
        border: none;
        transition: var(--transition);
        cursor: pointer;
        font-weight: 500;

        &:hover {
          background-color: var(--secondary-color);
        }
      }

      .boton-pause {
        background-color: var(--primary-color);
        color: var(--background-color);
        font-size: 2.4rem;
        padding: 12px 24px;
        border-radius: var(--border-radius);
        border: none;
        transition: var(--transition);
        cursor: pointer;
        font-weight: 500;

        &:hover {
          background-color: var(--secondary-color);
        }
      } */



    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-xl);
  align-self: auto;

  .list-container {
    display: grid;
    gap: var(--gap);

    .list {
      display: grid;
      gap: var(--gap);

      h3 {
        font-size: 2.4rem;

        span {
          color: var(--secondary-color);
        }
      }

      .product-list {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        max-height: 25vh;

        .products {
          overflow-y: auto;

          .product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.8rem;
            transition: var(--transition);
            padding: 12px;
            border-radius: var(--border-radius);
            cursor: pointer;

            &:hover {
              background-color: var(--light-background);
            }

            .price {
              font-weight: bolder;
            }

            .left-product {
              display: flex;
              gap: var(--gap-s);
              align-items: center;

              img {
                max-width: 128px;
                border-radius: var(--border-radius);
              }

            }
            
            


          }
        }
      }
    }
  }

  .product-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;

    .product-name {
      font-size: 2.5rem;
    }

   

    .add-to-cart-btn {
      background-color: var(--primary-color);
      color: var(--background-color);
      font-size: 2.4rem;
      padding: 8px 10px;
      border-radius: var(--border-radius);
      border: none;
      transition: var(--transition);
      cursor: pointer;
      font-weight: 500;

      &:hover {
        background-color: var(--secondary-color);
      }
    }

    .secondary-btn {
      background-color: var(--light-background);
      color: var(--primary-color);
    }

    .product-price {
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      gap: var(--gap-s);

      
    }

    .product-img {
      max-width: 100%;
      border-radius: var(--border-radius);
      box-shadow: 0 0 200px 3px #ffffff1a;
    }
  }
   .botones-reproduccion {
              display: flex;
              justify-content: flex-end; /* Alinea los botones a la derecha */
              align-items: flex-end; /* Alinea los botones en la parte inferior */
              gap: var(--gap-s);
              margin-top: auto; /* Empuja los botones hacia abajo */
          }
          .reproduccion-boton button {
            background-color: var(--primary-color);
            color: var(--background-color);
            font-size: 2.4rem;
            padding: 12px 24px;
            border-radius: var(--border-radius);
            border: none;
            transition: var(--transition);
            cursor: pointer;
            font-weight: 500;
        
            &:hover {
                background-color: var(--secondary-color);
            }
        }

}
.botones-reproduccion {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  align-items: flex-end; /* Alinea los botones en la parte inferior */
  gap: var(--gap-s);
  margin-top: auto; /* Empuja los botones hacia abajo */
}
.reproduccion-boton button {
background-color: var(--primary-color);
color: var(--background-color);
font-size: 2.4rem;
padding: 12px 24px;
border-radius: var(--border-radius);
border: none;
transition: var(--transition);
cursor: pointer;
font-weight: 500;

&:hover {
    background-color: var(--secondary-color);
}
}  

.boton-play {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 2.4rem;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: var(--secondary-color);
  }
  justify-content: flex-end; /* Alinea los botones en la parte inferior */
  align-items: flex-end; /* Alinea los botones a la derecha */
  margin-top: auto; /* Empuja los botones hacia abajo */
}

.boton-pause {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 2.4rem;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.boton-backward {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 2.4rem;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.boton-forward {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 2.4rem;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.boton-mute {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 2.4rem;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: var(--secondary-color);
  }
}


/* Login */

.loginForm {
  display: grid;
  min-height: 100vh;
  place-content: center;
  gap: var(--gap);

  #logout {
    cursor: pointer;
  }

  .maintitle{
    margin-bottom: 200px;
    outline: none;
    padding: 20px 4rem;
    font-size: 2rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: purple;
    color: var(--primary-color);

  }

  a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
  }

  button {
    outline: none;
    padding: 12px 4rem ;
    font-size: 2rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--light-background);
    color: var(--primary-color);
  }

}

.input-icon {
  position: relative;

  input {
    margin-top: 50px;
    outline: none;
    padding: 12px 4rem ;
    font-size: 2rem;
    border: none;
    border-radius: var(--border-radius);
  }

  i {
    position: absolute;
    z-index: 1;
    color: var(--background-color);
    font-size: 2.4rem;
    top: 80%;
    transform: translateY(-50%);
    right: 1rem;
    cursor: pointer;
  }
}

.productsError {
  font-size: 2.4rem;
  text-align: center;
  color: var(--secondary-color);
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
  }
}

img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}